In [2]:
import csv
import pandas as pd

In [20]:
power_outage = pd.read_csv('new collect.csv')

In [11]:
power_outage = pd._csv('new collect.csv', index=True)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [21]:
power_outage

,county_name,fips_id,outage_count_avg,outage_count_max,record_date_time,tracked_count,utility_name,id
0,Aransas,48007.0,6,7,2021-02-12T06:00:00.000Z,19425,American Electric Power Texas,61834865d1d87f2268d4059d
1,Aransas,48007.0,3,7,2021-02-12T07:00:00.000Z,19425,American Electric Power Texas,61834865d1d87f2268d4059e
2,Aransas,48007.0,0,0,2021-02-12T08:00:00.000Z,19425,American Electric Power Texas,61834865d1d87f2268d4059f
3,Aransas,48007.0,0,0,2021-02-12T09:00:00.000Z,19425,American Electric Power Texas,61834865d1d87f2268d405a0
4,Aransas,48007.0,3,6,2021-02-12T10:00:00.000Z,19425,American Electric Power Texas,61834865d1d87f2268d405a1
...,...,...,...,...,...,...,...,...
201523,Yoakum,48501.0,0,0,2021-02-22T02:00:00.000Z,3485,Xcel Energy,6183486cd1d87f2268d718d0
201524,Yoakum,48501.0,0,0,2021-02-22T03:00:00.000Z,3485,Xcel Energy,6183486cd1d87f2268d718d1
201525,Yoakum,48501.0,0,0,2021-02-22T04:00:00.000Z,3485,Xcel Energy,6183486cd1d87f2268d718d2
201526,Yoakum,48501.0,0,0,2021-02-22T05:00:00.000Z,3485,Xcel Energy,6183486cd1d87f2268d718d3
201527,Yoakum,48501.0,0,0,2021-02-22T06:00:00.000Z,3485,Xcel Energy,6183486cd1d87f2268d718d4

In [22]:
power_outage = power_outage.drop(columns=['id'])
power_outage

,county_name,fips_id,outage_count_avg,outage_count_max,record_date_time,tracked_count,utility_name
0,Aransas,48007.0,6,7,2021-02-12T06:00:00.000Z,19425,American Electric Power Texas
1,Aransas,48007.0,3,7,2021-02-12T07:00:00.000Z,19425,American Electric Power Texas
2,Aransas,48007.0,0,0,2021-02-12T08:00:00.000Z,19425,American Electric Power Texas
3,Aransas,48007.0,0,0,2021-02-12T09:00:00.000Z,19425,American Electric Power Texas
4,Aransas,48007.0,3,6,2021-02-12T10:00:00.000Z,19425,American Electric Power Texas
...,...,...,...,...,...,...,...
201523,Yoakum,48501.0,0,0,2021-02-22T02:00:00.000Z,3485,Xcel Energy
201524,Yoakum,48501.0,0,0,2021-02-22T03:00:00.000Z,3485,Xcel Energy
201525,Yoakum,48501.0,0,0,2021-02-22T04:00:00.000Z,3485,Xcel Energy
201526,Yoakum,48501.0,0,0,2021-02-22T05:00:00.000Z,3485,Xcel Energy
201527,Yoakum,48501.0,0,0,2021-02-22T06:00:00.000Z,3485,Xcel Energy

In [28]:
power_outage_county = power_outage.groupby('record_date_time','county_name')
power_outage_county

ValueError: No axis named county_name for object type DataFrame

In [23]:
power_outage.to_csv(r'C:\Users\mdebo\DataClass\project3theFreeze\POUS_Export_CountyByUtility_Hourly_20210214-20210221-1\new collect2.csv', index = True, header=True)